@using Newtonsoft.Json
@using WebUsuario.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    Layout = null;
}

@{
    
    var json = httpContextAccessor.HttpContext.Session.GetString("usuario");
    var usuario = JsonConvert.DeserializeObject<UsuarioModel>(json);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebUsuario</title>

    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    
    @RenderSection("styles", required: false)

</head>
<body>
    <!--Menu Superior-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WebUsuario</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Página Inicial</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Usuario/MinhaConta">Minha Conta</a>
                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Usuários
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Usuario/Cadastro">Cadastrar Usuários</a></li>
                            <li><a class="dropdown-item" href="/Usuario/Consulta">Consultar Usuários</a></li>                            
                            <li><hr class="dropdown-divider"></li>
                            
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="text-white">
                        <div>@usuario.Nome</div>
                        <div style="margin-top: -10px!important;"><small>@usuario.Email</small></div>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/Account/Logout" class="btn btn-outline-light"
                       onclick="return confirm('Deseja realmente encerrar essa sessão e sair do sistema?')">
                        Encerrar Sessão
                    </a>
                </form>
            </div>
        </div>
    </nav>


    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }


    else if (TempData["MensagemAlerta"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Alerta!</strong> @TempData["MensagemAlerta"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }


    else if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro!</strong> @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }

    <!--Corpo da página-->
    <div class="container mt-3">
        <div class="card card-body">

            
            @RenderBody()

        </div>
    </div>



   
    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/jquery-3.6.1.min.js"></script>

    
    @RenderSection("scripts", required: false)
</body>
</html>